
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not authorized to See Transaction Details!</h2>

<h3>Please Login again!!!</h3>
<p>@Html.ActionLink("Login", "Login", "Retailers")</p>