@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>Nikhil Ailani</strong></p>
<p>17CEUOS134</p>
<p>CE004</p>
<p><strong>Prizesh Bhadaniya</strong></p>
<p>17CEUOG095</p>
<p>CE014</p>